pandas==2.2.0
numpy==1.26.4
scikit-learn==1.4.0
xgboost==2.0.3
lightgbm==4.3.0
streamlit==1.32.0
plotly==5.19.0
python-dotenv==1.0.1
faker==22.2.0
sqlalchemy==2.0.27
snowflake-connector-python==3.7.0
snowflake-sqlalchemy==1.5.1
altair==4.2.2
protobuf==3.20.3
